worlds["Map"] = "/root/world"
worlds["Map_Nether"]="/root/world_nether"
worlds["Map_The_End"]="/root/world_the_end"

end_smooth_lighting = [Base(), EdgeLines(), SmoothLighting(strength=0.5)]

renders["survivalday"] = {
   "world": "Map",
   "title": "Test",
   "crop": (-5000, -5000, 5000, 5000),
   "rendermode": "smooth_lighting",
   "texturepath": "/root/config/texture_pack.zip",
   "dimension": "overworld",
   "renderchecks": 0,
   "rerenderprob": 0.01,
}

renders["cave"] = {
   "world": "Map",
   "title": "Test Caves",
   "crop": (-5000, -5000, 5000, 5000),
   "rendermode": "cave",
   "texturepath": "/root/config/texture_pack.zip",
   "dimension": "overworld",
   "renderchecks": 0,
}

renders["nether"] = {
   "world": "Map_Nether",
   "title": "Test Nether",
   "crop": (-5000, -5000, 5000, 5000),
   "rendermode": "nether_smooth_lighting",
   "texturepath": "/root/config/texture_pack.zip",
   "dimension": "nether",
   "renderchecks": 0,
}

renders["nether_cave"] = {
   "world": "Map_Nether",
   "title": "Test Nether Cave",
   "crop": (-5000, -5000, 5000, 5000),
   "rendermode": "nether_smooth_lighting",
   "texturepath": "/root/config/texture_pack.zip",
   "dimension": "nether",
   "renderchecks": 0,
}

renders["the_end"] = {
   "world": "Map_The_End",
   "title": "Map The End",
   "crop": (-5000, -5000, 5000, 5000),
   "rendermode": end_smooth_lighting,
   "texturepath": "/root/config/texture_pack.zip",
   "dimension": "end",
   "renderchecks": 0,
}

outputdir = "/root/render_output"
